# Assess data

## Imports
Do some imports we need for working with the data.

In [1]:
import pandas as pd

In [2]:
# Read a file to see data
df = pd.read_csv('data\earthquakes.csv')
df.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2018-05-21T11:49:32.154Z,61.453500,-149.949000,33.50,1.40,ml,NaN,NaN,NaN,0.21,...,2018-05-21T11:54:44.040Z,"7km S of Big Lake, Alaska",earthquake,NaN,0.20,NaN,NaN,automatic,ak,ak
1,2018-05-21T11:40:47.790Z,33.505833,-116.793500,5.20,0.58,ml,24.0,47.0,0.07572,0.17,...,2018-05-21T11:44:24.630Z,"10km NE of Aguanga, CA",earthquake,0.24,1.52,0.083,16.0,automatic,ci,ci
2,2018-05-21T11:38:45.464Z,62.944100,-148.503500,4.50,1.60,ml,NaN,NaN,NaN,0.74,...,2018-05-21T11:46:50.269Z,"54km SSE of Cantwell, Alaska",earthquake,NaN,0.20,NaN,NaN,automatic,ak,ak
3,2018-05-21T11:35:59.820Z,37.675835,-118.851166,-0.67,1.07,md,10.0,181.0,0.02885,0.07,...,2018-05-21T11:58:01.451Z,"12km ENE of Mammoth Lakes, CA",earthquake,0.39,0.49,0.080,8.0,automatic,nc,nc
4,2018-05-21T11:25:51.080Z,33.487667,-116.793833,2.12,0.28,ml,16.0,61.0,0.09078,0.14,...,2018-05-21T11:29:32.456Z,"8km NE of Aguanga, CA",earthquake,0.26,0.42,0.119,7.0,automatic,ci,ci

## Data overview

In [3]:
# returns a tuple of the dimensions of the dataframe
df.shape

(11903, 22)

In [4]:
# returns the data types of the columns
df.dtypes

time                object
latitude           float64
longitude          float64
depth              float64
mag                float64
magType             object
nst                float64
gap                float64
dmin               float64
rms                float64
net                 object
id                  object
updated             object
place               object
type                object
horizontalError    float64
depthError         float64
magError           float64
magNst             float64
status              object
locationSource      object
magSource           object
dtype: object

In [5]:
# although the datatype might be shown as an object, it could be something else
# this is because pandas uses pointers...
type(df['time'][0])

str

In [6]:
# show a concise summary of the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11903 entries, 0 to 11902
Data columns (total 22 columns):
time               11903 non-null object
latitude           11903 non-null float64
longitude          11903 non-null float64
depth              11903 non-null float64
mag                11902 non-null float64
magType            11902 non-null object
nst                8372 non-null float64
gap                9348 non-null float64
dmin               9321 non-null float64
rms                11862 non-null float64
net                11903 non-null object
id                 11903 non-null object
updated            11903 non-null object
place              11903 non-null object
type               11903 non-null object
horizontalError    8482 non-null float64
depthError         11865 non-null float64
magError           9073 non-null float64
magNst             9251 non-null float64
status             11903 non-null object
locationSource     11903 non-null object
magSource          11903 non-null object
dtypes: float64(12), object(10)
memory usage: 2.0+ MB

In [7]:
# returns the number of unique values in each column
df.nunique()

time               11901
latitude            9601
longitude          10001
depth               3056
mag                  453
magType               10
nst                  132
gap                 1182
dmin                6781
rms                  817
net                   14
id                 11903
updated            11903
place               5985
type                   7
horizontalError      538
depthError           721
magError             761
magNst               206
status                 2
locationSource        16
magSource             18
dtype: int64

In [8]:
# get some basic useful descriptive statistics for each valid column
df.describe()

,latitude,longitude,depth,mag,nst,gap,dmin,rms,horizontalError,depthError,magError,magNst
count,11903.000000,11903.000000,11903.000000,11902.000000,8372.000000,9348.000000,9321.000000,11862.000000,8482.000000,11865.000000,9073.000000,9251.000000
mean,36.178398,-124.657591,17.846070,1.676422,19.764811,127.597824,0.414841,0.271099,1.456160,2.392046,0.333277,15.611393
std,18.332939,52.139256,43.993906,1.112906,16.045583,70.261653,1.834758,0.250844,2.645978,9.550052,0.715251,28.805112
min,-60.522000,-179.984400,-3.370000,-0.950000,0.000000,7.000000,0.000000,0.000000,0.070000,0.000000,0.000000,0.000000
25%,19.433000,-154.901253,2.020000,0.870000,9.000000,73.000000,0.016360,0.100000,0.260000,0.380000,0.107000,4.000000
50%,36.889500,-122.821667,5.990000,1.500000,15.000000,111.000000,0.049580,0.180000,0.460000,0.660000,0.168000,8.000000
75%,46.867667,-116.885600,12.500000,2.270000,25.000000,173.000000,0.111700,0.370000,1.040000,1.490000,0.262000,17.000000
max,81.610700,179.950300,638.260000,6.900000,280.000000,356.000000,40.970000,1.910000,43.740000,720.200000,5.910000,599.000000

In [9]:
# show the first rows of the dataframe (# of columns can be specified; if not specified, 5 columns are shown)
df.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2018-05-21T11:49:32.154Z,61.453500,-149.949000,33.50,1.40,ml,NaN,NaN,NaN,0.21,...,2018-05-21T11:54:44.040Z,"7km S of Big Lake, Alaska",earthquake,NaN,0.20,NaN,NaN,automatic,ak,ak
1,2018-05-21T11:40:47.790Z,33.505833,-116.793500,5.20,0.58,ml,24.0,47.0,0.07572,0.17,...,2018-05-21T11:44:24.630Z,"10km NE of Aguanga, CA",earthquake,0.24,1.52,0.083,16.0,automatic,ci,ci
2,2018-05-21T11:38:45.464Z,62.944100,-148.503500,4.50,1.60,ml,NaN,NaN,NaN,0.74,...,2018-05-21T11:46:50.269Z,"54km SSE of Cantwell, Alaska",earthquake,NaN,0.20,NaN,NaN,automatic,ak,ak
3,2018-05-21T11:35:59.820Z,37.675835,-118.851166,-0.67,1.07,md,10.0,181.0,0.02885,0.07,...,2018-05-21T11:58:01.451Z,"12km ENE of Mammoth Lakes, CA",earthquake,0.39,0.49,0.080,8.0,automatic,nc,nc
4,2018-05-21T11:25:51.080Z,33.487667,-116.793833,2.12,0.28,ml,16.0,61.0,0.09078,0.14,...,2018-05-21T11:29:32.456Z,"8km NE of Aguanga, CA",earthquake,0.26,0.42,0.119,7.0,automatic,ci,ci

In [10]:
# show the last rows of the dataframe (# of columns can be specified; if not specified, 5 columns are shown)
df.tail()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
11898,2018-04-21T12:34:49.030Z,19.388500,-155.279007,0.69,2.09,ml,28.0,58.0,0.00322,0.30,...,2018-04-21T12:40:35.820Z,"6km SW of Volcano, Hawaii",earthquake,0.24,0.23,0.220,12.0,automatic,hv,hv
11899,2018-04-21T12:29:19.890Z,37.574333,-119.076167,3.34,0.47,md,17.0,273.0,0.02722,0.04,...,2018-04-23T07:23:58.777Z,"11km SW of Mammoth Lakes, CA",earthquake,0.64,0.45,0.175,14.0,reviewed,nc,nc
11900,2018-04-21T12:29:14.910Z,38.786333,-122.765167,1.78,1.04,md,29.0,92.0,0.01560,0.07,...,2018-04-23T07:09:56.705Z,"1km NW of The Geysers, CA",earthquake,0.16,0.31,0.084,5.0,reviewed,nc,nc
11901,2018-04-21T12:16:49.275Z,59.732300,-136.181500,3.40,1.20,ml,NaN,NaN,NaN,0.68,...,2018-04-25T23:45:36.344Z,"57km WNW of Skagway, Alaska",earthquake,NaN,0.60,NaN,NaN,reviewed,ak,ak
11902,2018-04-21T12:13:33.182Z,60.303200,-141.665600,15.60,2.60,ml,NaN,NaN,NaN,0.71,...,2018-04-28T06:48:59.040Z,"49km ENE of Cape Yakataga, Alaska",earthquake,NaN,0.10,NaN,NaN,reviewed,ak,ak

## Indexing and Selecting Data in Pandas

In [11]:
# show index number and label for each column
for i, v in enumerate(df.columns):
    print(i, v)

0 time
1 latitude
2 longitude
3 depth
4 mag
5 magType
6 nst
7 gap
8 dmin
9 rms
10 net
11 id
12 updated
13 place
14 type
15 horizontalError
16 depthError
17 magError
18 magNst
19 status
20 locationSource
21 magSource

We can select data using `loc` and `iloc`, which you can read more about [here](https://pandas.pydata.org/pandas-docs/stable/indexing.html). `loc` uses labels of rows or columns to select data, while `iloc` uses the index numbers. We'll use these to index the dataframe below.

In [12]:
# select a subset of the columns, specified by name
df.loc[:, 'time':'mag']

                           time   latitude   longitude  depth   mag
0      2018-05-21T11:49:32.154Z  61.453500 -149.949000  33.50  1.40
1      2018-05-21T11:40:47.790Z  33.505833 -116.793500   5.20  0.58
2      2018-05-21T11:38:45.464Z  62.944100 -148.503500   4.50  1.60
3      2018-05-21T11:35:59.820Z  37.675835 -118.851166  -0.67  1.07
4      2018-05-21T11:25:51.080Z  33.487667 -116.793833   2.12  0.28
5      2018-05-21T11:11:20.194Z  67.783400 -161.324400   4.80  1.90
6      2018-05-21T11:08:24.473Z  61.977700 -149.839200  34.50  2.20
7      2018-05-21T11:05:52.030Z  38.819168 -122.798500   2.72  0.89
8      2018-05-21T10:53:37.160Z  19.395001 -155.269333   0.64  2.99
9      2018-05-21T10:51:02.730Z  31.746500   78.453100  10.00  4.40
10     2018-05-21T10:43:59.090Z  19.451334 -154.869003   4.78  3.47
11     2018-05-21T10:42:20.590Z  61.443800 -146.764000  26.50  1.80
12     2018-05-21T10:40:22.790Z  56.595800  158.742300  67.98  5.10
13     2018-05-21T10:36:59.190Z  33.483000 -116.793167   2.54  1.32
14     2018-05-21T10:22:41.570Z  19.403833 -155.283341   5.54  2.75
15     2018-05-21T10:21:30.342Z  62.984600 -148.737900  58.50  1.60
16     2018-05-21T10:11:36.620Z  19.321667 -155.168335   4.25  1.80
17     2018-05-21T10:04:45.820Z  33.494000 -116.792500   5.54  0.28
18     2018-05-21T10:03:22.480Z  19.431833 -155.252335   1.26  2.71
19     2018-05-21T10:02:15.970Z  36.034168 -120.601997   2.18  1.09
20     2018-05-21T10:01:42.510Z  36.034168 -120.601669   2.93  1.49
21     2018-05-21T10:00:24.407Z  63.254300 -151.176600   6.70  1.00
22     2018-05-21T09:59:39.639Z  57.605900 -155.363800   6.80  2.30
23     2018-05-21T09:57:31.260Z  46.260834 -122.050331  13.42  1.08
24     2018-05-21T09:43:13.590Z  38.798000 -122.759003   1.74  0.47
25     2018-05-21T09:11:36.800Z  37.568668 -118.843170   7.44  0.93
26     2018-05-21T08:58:53.246Z  60.629200 -150.561800  52.60  1.80
27     2018-05-21T08:49:13.740Z  33.492167 -116.783000   4.39  0.37
28     2018-05-21T08:38:32.710Z  36.007500 -117.805000   1.31  1.66
29     2018-05-21T08:24:29.170Z  34.056333 -117.187333   6.80  1.02
...                         ...        ...         ...    ...   ...
11873  2018-04-21T14:09:54.810Z  38.793999 -122.758003   0.64  0.50
11874  2018-04-21T14:09:03.970Z  38.844333 -122.817833   0.48  1.01
11875  2018-04-21T14:08:57.170Z  19.389000 -155.238327   2.10  2.57
11876  2018-04-21T14:08:12.090Z  34.185167 -117.234500   1.98  0.99
11877  2018-04-21T14:07:56.140Z  34.184500 -117.233167   2.43  0.82
11878  2018-04-21T14:05:39.500Z  34.185833 -117.231833   2.45  2.27
11879  2018-04-21T14:05:31.909Z  38.346300 -118.887800  13.50  0.60
11880  2018-04-21T14:01:54.010Z  34.187500 -117.232667   2.89  0.70
11881  2018-04-21T13:53:44.151Z  39.358100 -120.012400   4.90 -0.20
11882  2018-04-21T13:51:53.186Z  54.038700 -163.680500  19.80  1.80
11883  2018-04-21T13:42:00.950Z  33.800000 -116.942000   7.03  0.61
11884  2018-04-21T13:40:07.587Z  39.350400 -120.014500   7.60  0.40
11885  2018-04-21T13:38:46.991Z  61.032000 -147.146900  18.40  1.50
11886  2018-04-21T13:36:51.372Z  62.512200 -149.099600  51.10  1.10
11887  2018-04-21T13:34:42.190Z  20.766833 -156.383833  28.34  2.74
11888  2018-04-21T13:31:01.480Z  55.607200 -149.188500   8.82  3.60
11889  2018-04-21T13:24:18.290Z  40.033500 -122.913167   5.10  1.56
11890  2018-04-21T13:15:24.913Z  55.849400 -158.483300   8.80  1.80
11891  2018-04-21T13:12:58.440Z  47.625667 -122.328500  26.13  1.57
11892  2018-04-21T13:10:33.845Z  61.780800 -147.445300  28.10  1.50
11893  2018-04-21T13:08:19.150Z  33.065500 -115.944667   4.38  1.41
11894  2018-04-21T13:02:34.810Z  19.203333 -155.398667  32.90  2.48
11895  2018-04-21T13:02:10.720Z  19.324333 -155.184830   6.15  2.42
11896  2018-04-21T12:50:08.093Z  60.391900 -151.100100  51.90  1.20
11897  2018-04-21T12:42:46.511Z  64.437300 -147.430600  11.00  0.10
11898  2018-04-21T12:34:49.030Z  19.388500 -155.279007   0.69  2.09
11899  2018-04-21T12:29:19.890Z  37.574333 -119.076167   3.34  0.47
11900  2018-04-21T12:29:14.910Z  38.786333 -122.765167   1.78  1.04
11901  2018-04-21T12:16:49.275Z  59.732300 -136.181500   3.40  1.20
11902  2018-04-21T12:13:33.182Z  60.303200 -141.665600  15.60  2.60

[11903 rows x 5 columns]

In [13]:
# same with iloc
df.iloc[:, :5]

                           time   latitude   longitude  depth   mag
0      2018-05-21T11:49:32.154Z  61.453500 -149.949000  33.50  1.40
1      2018-05-21T11:40:47.790Z  33.505833 -116.793500   5.20  0.58
2      2018-05-21T11:38:45.464Z  62.944100 -148.503500   4.50  1.60
3      2018-05-21T11:35:59.820Z  37.675835 -118.851166  -0.67  1.07
4      2018-05-21T11:25:51.080Z  33.487667 -116.793833   2.12  0.28
5      2018-05-21T11:11:20.194Z  67.783400 -161.324400   4.80  1.90
6      2018-05-21T11:08:24.473Z  61.977700 -149.839200  34.50  2.20
7      2018-05-21T11:05:52.030Z  38.819168 -122.798500   2.72  0.89
8      2018-05-21T10:53:37.160Z  19.395001 -155.269333   0.64  2.99
9      2018-05-21T10:51:02.730Z  31.746500   78.453100  10.00  4.40
10     2018-05-21T10:43:59.090Z  19.451334 -154.869003   4.78  3.47
11     2018-05-21T10:42:20.590Z  61.443800 -146.764000  26.50  1.80
12     2018-05-21T10:40:22.790Z  56.595800  158.742300  67.98  5.10
13     2018-05-21T10:36:59.190Z  33.483000 -116.793167   2.54  1.32
14     2018-05-21T10:22:41.570Z  19.403833 -155.283341   5.54  2.75
15     2018-05-21T10:21:30.342Z  62.984600 -148.737900  58.50  1.60
16     2018-05-21T10:11:36.620Z  19.321667 -155.168335   4.25  1.80
17     2018-05-21T10:04:45.820Z  33.494000 -116.792500   5.54  0.28
18     2018-05-21T10:03:22.480Z  19.431833 -155.252335   1.26  2.71
19     2018-05-21T10:02:15.970Z  36.034168 -120.601997   2.18  1.09
20     2018-05-21T10:01:42.510Z  36.034168 -120.601669   2.93  1.49
21     2018-05-21T10:00:24.407Z  63.254300 -151.176600   6.70  1.00
22     2018-05-21T09:59:39.639Z  57.605900 -155.363800   6.80  2.30
23     2018-05-21T09:57:31.260Z  46.260834 -122.050331  13.42  1.08
24     2018-05-21T09:43:13.590Z  38.798000 -122.759003   1.74  0.47
25     2018-05-21T09:11:36.800Z  37.568668 -118.843170   7.44  0.93
26     2018-05-21T08:58:53.246Z  60.629200 -150.561800  52.60  1.80
27     2018-05-21T08:49:13.740Z  33.492167 -116.783000   4.39  0.37
28     2018-05-21T08:38:32.710Z  36.007500 -117.805000   1.31  1.66
29     2018-05-21T08:24:29.170Z  34.056333 -117.187333   6.80  1.02
...                         ...        ...         ...    ...   ...
11873  2018-04-21T14:09:54.810Z  38.793999 -122.758003   0.64  0.50
11874  2018-04-21T14:09:03.970Z  38.844333 -122.817833   0.48  1.01
11875  2018-04-21T14:08:57.170Z  19.389000 -155.238327   2.10  2.57
11876  2018-04-21T14:08:12.090Z  34.185167 -117.234500   1.98  0.99
11877  2018-04-21T14:07:56.140Z  34.184500 -117.233167   2.43  0.82
11878  2018-04-21T14:05:39.500Z  34.185833 -117.231833   2.45  2.27
11879  2018-04-21T14:05:31.909Z  38.346300 -118.887800  13.50  0.60
11880  2018-04-21T14:01:54.010Z  34.187500 -117.232667   2.89  0.70
11881  2018-04-21T13:53:44.151Z  39.358100 -120.012400   4.90 -0.20
11882  2018-04-21T13:51:53.186Z  54.038700 -163.680500  19.80  1.80
11883  2018-04-21T13:42:00.950Z  33.800000 -116.942000   7.03  0.61
11884  2018-04-21T13:40:07.587Z  39.350400 -120.014500   7.60  0.40
11885  2018-04-21T13:38:46.991Z  61.032000 -147.146900  18.40  1.50
11886  2018-04-21T13:36:51.372Z  62.512200 -149.099600  51.10  1.10
11887  2018-04-21T13:34:42.190Z  20.766833 -156.383833  28.34  2.74
11888  2018-04-21T13:31:01.480Z  55.607200 -149.188500   8.82  3.60
11889  2018-04-21T13:24:18.290Z  40.033500 -122.913167   5.10  1.56
11890  2018-04-21T13:15:24.913Z  55.849400 -158.483300   8.80  1.80
11891  2018-04-21T13:12:58.440Z  47.625667 -122.328500  26.13  1.57
11892  2018-04-21T13:10:33.845Z  61.780800 -147.445300  28.10  1.50
11893  2018-04-21T13:08:19.150Z  33.065500 -115.944667   4.38  1.41
11894  2018-04-21T13:02:34.810Z  19.203333 -155.398667  32.90  2.48
11895  2018-04-21T13:02:10.720Z  19.324333 -155.184830   6.15  2.42
11896  2018-04-21T12:50:08.093Z  60.391900 -151.100100  51.90  1.20
11897  2018-04-21T12:42:46.511Z  64.437300 -147.430600  11.00  0.10
11898  2018-04-21T12:34:49.030Z  19.388500 -155.279007   0.69  2.09
11899  2018-04-21T12:29:19.890Z  37.574333 -119.076167   3.34  0.47
11900  2018-04-21T12:29:14.910Z  38.786333 -122.765167   1.78  1.04
11901  2018-04-21T12:16:49.275Z  59.732300 -136.181500   3.40  1.20
11902  2018-04-21T12:13:33.182Z  60.303200 -141.665600  15.60  2.60

[11903 rows x 5 columns]

If a diverse range of data needs to be collected `np.r_` is a good tool for it.

In [14]:
import numpy as np
df.iloc[np.r_[:2, 5, 7, 8:20], :]

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2018-05-21T11:49:32.154Z,61.453500,-149.949000,33.50,1.40,ml,NaN,NaN,NaN,0.21,...,2018-05-21T11:54:44.040Z,"7km S of Big Lake, Alaska",earthquake,NaN,0.20,NaN,NaN,automatic,ak,ak
1,2018-05-21T11:40:47.790Z,33.505833,-116.793500,5.20,0.58,ml,24.0,47.0,0.075720,0.17,...,2018-05-21T11:44:24.630Z,"10km NE of Aguanga, CA",earthquake,0.24,1.52,0.083,16.0,automatic,ci,ci
5,2018-05-21T11:11:20.194Z,67.783400,-161.324400,4.80,1.90,ml,NaN,NaN,NaN,0.66,...,2018-05-21T11:16:06.746Z,"73km ENE of Noatak, Alaska",earthquake,NaN,0.40,NaN,NaN,automatic,ak,ak
7,2018-05-21T11:05:52.030Z,38.819168,-122.798500,2.72,0.89,md,13.0,61.0,0.009978,0.02,...,2018-05-21T11:37:02.342Z,"6km NW of The Geysers, CA",earthquake,0.34,0.84,0.020,3.0,automatic,nc,nc
8,2018-05-21T10:53:37.160Z,19.395001,-155.269333,0.64,2.99,ml,28.0,57.0,0.004085,0.33,...,2018-05-21T11:48:52.811Z,"5km SW of Volcano, Hawaii",earthquake,0.31,0.21,0.400,14.0,automatic,hv,hv
9,2018-05-21T10:51:02.730Z,31.746500,78.453100,10.00,4.40,mb,NaN,147.0,4.765000,0.79,...,2018-05-21T11:43:07.040Z,"24km WSW of Sibgyi, China",earthquake,10.30,1.90,0.108,25.0,reviewed,us,us
10,2018-05-21T10:43:59.090Z,19.451334,-154.869003,4.78,3.47,ml,52.0,182.0,0.034210,0.32,...,2018-05-21T11:36:42.040Z,"5km ESE of Leilani Estates, Hawaii",earthquake,0.89,0.59,3.020,41.0,automatic,hv,hv
11,2018-05-21T10:42:20.590Z,61.443800,-146.764000,26.50,1.80,ml,NaN,NaN,NaN,0.64,...,2018-05-21T10:46:13.217Z,"41km NNW of Valdez, Alaska",earthquake,NaN,0.20,NaN,NaN,automatic,ak,ak
12,2018-05-21T10:40:22.790Z,56.595800,158.742300,67.98,5.10,mb,NaN,110.0,3.547000,1.43,...,2018-05-21T11:25:37.040Z,"73km N of Esso, Russia",earthquake,10.80,7.20,0.050,130.0,reviewed,us,us
13,2018-05-21T10:36:59.190Z,33.483000,-116.793167,2.54,1.32,ml,60.0,38.0,0.094510,0.22,...,2018-05-21T10:47:57.410Z,"8km NE of Aguanga, CA",earthquake,0.18,0.94,0.091,25.0,automatic,ci,ci
14,2018-05-21T10:22:41.570Z,19.403833,-155.283341,5.54,2.75,ml,23.0,60.0,0.008470,0.24,...,2018-05-21T10:50:56.440Z,"5km WSW of Volcano, Hawaii",earthquake,0.47,0.63,0.380,13.0,automatic,hv,hv
15,2018-05-21T10:21:30.342Z,62.984600,-148.737900,58.50,1.60,ml,NaN,NaN,NaN,0.52,...,2018-05-21T10:26:13.862Z,"46km SSE of Cantwell, Alaska",earthquake,NaN,0.70,NaN,NaN,automatic,ak,ak
16,2018-05-21T10:11:36.620Z,19.321667,-155.168335,4.25,1.80,md,32.0,100.0,0.051410,0.17,...,2018-05-21T10:14:51.840Z,"14km SSE of Volcano, Hawaii",earthquake,0.47,1.77,0.260,12.0,automatic,hv,hv
17,2018-05-21T10:04:45.820Z,33.494000,-116.792500,5.54,0.28,ml,16.0,68.0,0.084840,0.14,...,2018-05-21T10:08:13.139Z,"9km NE of Aguanga, CA",earthquake,0.26,1.09,0.124,7.0,automatic,ci,ci
18,2018-05-21T10:03:22.480Z,19.431833,-155.252335,1.26,2.71,md,13.0,247.0,0.011940,0.22,...,2018-05-21T10:55:02.331Z,"1km W of Volcano, Hawaii",earthquake,0.95,0.54,0.270,4.0,automatic,hv,hv
19,2018-05-21T10:02:15.970Z,36.034168,-120.601997,2.18,1.09,md,17.0,107.0,0.034890,0.08,...,2018-05-21T10:03:51.941Z,"22km NW of Parkfield, CA",earthquake,0.43,1.44,0.320,7.0,automatic,nc,nc